/* Footer */
.m-3 {
    margin-right: 3px !important;
}

.mx-3 {
    margin-right: 3px !important;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
} 
