/* Artist works hover behavior */

.figure {
    position: relative;
}

.figure-img {
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

@media (hover: hover) {
    .figure:hover .figure-img {
        opacity: 0.3;
    }
    
    .figure:hover .middle {
        opacity: 1;
    }
}

.figure:active .figure-img {
    opacity: 0.3;
}

.figure:active .middle {
    opacity: 1;
}

/* Header section */
/* Images inside header image */

/* Bottom left */
.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 100px;
}

/* Top left */
.top-left {
    position: absolute;
    top: 40px;
}

/* Top right */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right */
.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 50px;
}

/* Mobile container styling */
@media only screen and (min-width: 1px) {
    .header-image {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/%22The_School_of_Athens%22_by_Raffaello_Sanzio_da_Urbino.jpg);
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
    }

    .main-artist-portrait-size {
        width: 300px;
        height: 350px;
        object-fit: cover;
    }

    .main-artist-img-2 {
        width: 300px;
        height: 250px;
        object-fit: cover;
        object-position: top;
    }

    .main-artist-img-5 {
        width: 300px;
        height: 450px;
        object-fit: cover;
        object-position: top;
    }

    .main-artist-portrait-size {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    .main-artist-work-img {
        width: 500px;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }
}

/* Medium container */
@media only screen and (min-width: 768px) {
    .header-image {
        height: 400px;
    }

    .bottom-left img {
        width: 115px
    }

    .top-left {
        left: 200px;
    }

    .top-left img {
        width: 78px;
    }

    .top-right img {
        width: 135px;
    }

    .bottom-right img {
        width: 91px;
    }

    .main-artist-portrait-size {
        width: 400px;
        height: 450px;
    }

    .main-artist-work-img {
        height: 650px;
    }
}

/* Large container */
@media only screen and (min-width: 992px) {
    .header-image {
        height: 600px;
    }

    .bottom-left img {
        width: 148px
    }

    .top-left {
        left: 300px;
    }

    .top-left img {
        width: 101px;
    }

    .top-right img {
        width: 174px;
    }

    .bottom-right img {
        width: 118px;
    }

    .main-artist-img-2 {
        margin-top: -3em;
    }

    .main-artist-img-5 {
        margin-top: -9em;
    }

    .article-paragraph-margin {
        margin-top: 8em;
    }
}

/* X large container */
@media only screen and (min-width: 1200px) {
    .bottom-left img {
        width: 179px
    }

    .top-left img {
        width: 123px;
    }

    .top-right img {
        width: 210px;
    }

    .bottom-right img {
        width: 143px;
    }
}

/* XX large container */
@media only screen and (min-width: 1400px) {
    .bottom-left img {
        width: 209px;
    }

    .top-left img {
        width: 143px;
    }

    .top-right img {
        width: 245px;
    }

    .bottom-right img {
        width: 167px;
    }
}

/* Main section */
.main-image-size {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.main-artist-img-1 {
    width: 300px;
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.main-artist-img-3 {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.main-artist-img-4 {
    width: 300px;
    height: 370px;
    object-fit: cover;
    object-position: top;
}

.main-artist-img-6 {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

/* Footer */
.m-3 {
    margin-right: 3px !important;
}

.mx-3 {
    margin-right: 3px !important;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}
/* Newsletter subscribe button stylisation
#modal-sub-button-config .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: rgb(75, 75, 75) !important;
    color: white;
    border-color: rgb(75, 75, 75) !important;
}
/* Newsletter close button stylisation
#modal-close-button-config .btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited{
    background-color: rgb(161, 161, 161) !important;
    color: white;
    border-color: rgb(161, 161, 161);
} */

/* Genre */

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(172, 172, 172);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown .dropbtn:hover {
  text-decoration: underline;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
  }

.show {
    display: block;
  }

/* Button scroll back to top styling below */
/* #button-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #button-to-top:hover {
    background-color: #555;
  } */

  .bi-arrow-up-circle-fill {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2em;
    border: none;
    outline: none;
    background-color: #c7c8c9;
  }















